img {
    width: 6rem;
    height: 6rem;
}

body {
    text-align: center;
    background-color: #2C3333;
    color: #CBE4DE;
    font-family:'Courier New', Courier, monospace;
}

.left-side {
    text-align: left;
    margin: 1rem;
    width: 10%;
}

.sill {
    filter: brightness(0);
}
